<div class="container">
  <div class="d-flex align-items-center p-1 rounded shadow-sm">
    <img class="me-3 logo-simple" src="/assets/logo_simple.jpg" alt="" width="60" height="60">
    <div class="mt-4">
      <p>同期とはかけがえのない存在です。切磋琢磨し合いながら成長していきましょう！</p>
    </div>
  </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h3 class="border-bottom pb-2 mb-0">新入社員</h3>
      <% @new_employees.each do |new_employee| %>
      <div class="d-flex text-muted pt-3">

        <svg class="bd-placeholder-img" width="32" height="32" role="img">
          <%= attachment_image_tag new_employee, :new_employee, size: "32x32", format: 'jpeg', fallback: "no_image.jpg" %>
        </svg>

        <p class="pb-3 mb-0 mx-1 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark"><%= new_employee.full_name %> (<%= new_employee.full_name_kana %>)</strong>
          <%= new_employee.introduction %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>