<div class="row justify-content-center">
  <div class="col-md-2.5 ribbon_heading">
    <h3>新商品！</h3>
  </div>
</div>
<!--商品一覧-->
　<div class="col-md-9 offset-md-1">
    <div class="row item_lists">
      <!--表示件数の制限-->
      <% @items.last(6).reverse.each do |item| %>
        <div class="col-md-3 item_list">
          <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px;">
              <%= attachment_image_tag item, :image, format: 'jpeg', size: "200x150" %><br>
              <%= item.name %><br>
          </div>
      　</div>
      <% end %>
      <div class="all_item">
        <%= link_to "全ての商品を見る >", items_path %>
      </div>
    </div>
  </div>

