<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">社内報編集</h1>
      <p class="col-md-8 fs-4">社内報を編集できます。</p>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h3>社内報編集</h3>
        <%= form_with url: admin_in_company_report_path(@in_company_report), model: @in_company_report, local: true do |f| %>
        <div class="my-5">
            <%= f.text_area :body, class: "offset-1" %>
            <%= f.submit "変更を保存", class: "btn btn-outline-light offset-1" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>