<div class="container border-bottom pt-5">
  <h4>
    注文履歴
  </h4>
</div>

<div class="container mt-3">
  <div class="bd-example pt-5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">注文日</th>
      <th scope="col">注文商品</th>
      <th scope="col">ステータス</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <th scope="row"><%= cart_item.item.name %></th>
          <td>
            <%= order.created_at.strftime("%Y/%m/%d") %>
          </td>
          <td>
            <% order.order_lists.each do |order_list| %>
              <%= order_list.item.name %><br>
            <% end %>
          </td>
        <td>
          <%= order.order_status_i18n %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  </div>
</div>