<div class="col-xs-4">お届け先</div>
<%= form_with model:@order, url: orders_path, local:true do |f| %>
<%= f.select :address, Order.addresses_i18n.invert %>
<%= f.submit '更新'  ,class: "btn btn-outline-primary" %>
<% end %>