/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

.logo {
  background-image: image-url('logo.jpg');
  width: 130px;
}
.logo-simple {
  background-image: image-url('logo_simple.jpg');
  width: 100px;
}

.navbar-brand {
    width: 130px;
    heigth: 65px;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.py-3 {
  padding-bottom: 1rem rem !important;
}

.py-3 {
  padding-top: 1rem !important;
}
.card-container {
  max-width: 600px;
  padding: 40px 40px;
}

.card-body {
  padding: 20px 25px 20px;
  margin: 0 auto;
}

.card-container {
  margin: 0 auto;
  margin: 0 auto 25px;
  margin-top: 45px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.form-group {
  margin-top: 10px;
}
