<div class="container px-2">

  <div class="row justify-content-center">
    <div class="col-md-2.5 ribbon2">
      <h3>商品一覧</h3>
    </div>
  </div>

  <div class="col-md-9 offset-md-1">
    <div class="row item_lists">
      <% @items.each do |item| %>
        <div class="col-md-3 item_list">
          <%=  attachment_image_tag item, :image, size: "200x150" %>
          <%= item.name %><br>
        </div>
      <% end %>
    </div>
  </div>

</div>